@import './variables';

.btn-primary {
    background-color: $primary-color;
    border: none;
    width: 100%;
    text-align: center;
    color: white;
    padding: 16px 0;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
  }

  .btn-secondary {
  background-color: white;
  border: solid 1px $primary-color;
  width: 100%;
  text-align: center;
  color: $primary-color;
  padding: 16px 0;
  font-weight: bold;
}

.new-btn {
  padding: 30px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;

  &::before {
  content: "";
  background-image: linear-gradient(to right, #000, #000 3px, transparent 3px, transparent 8px),
  linear-gradient(to right, #000, #000 3px, transparent 3px, transparent 8px),
  linear-gradient(to bottom, #000, #000 3px, transparent 3px, transparent 8px),
  linear-gradient(to bottom, #000, #000 3px, transparent 3px, transparent 8px);
  background-size: 8px 1px, 8px 1px, 1px 8px, 1px 8px;
  background-position: left top, left bottom, left top, right top;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  }

}